[2019-09-03 17:59] tijyojwad opened #3 "Nightly training on large dataset"
Train nightly on large dataset to validate changes through the day don't break overall perf

[2019-09-03 18:00] avantikalal opened #4 "Dynamic downsampling of coverage track"
- test initial code (https://github.com/clara-genomics/AtacWorks/commit/eebbae33391bceafc95f99a0a2dbea5dcf9f66fc)
- verify improvement in results

[2019-09-03 18:06] tijyojwad opened #5 "Support inference from hdf5 file containing single channel"
DatasetInfer (https://gitlab-master.nvidia.com/genomics/AtacWorks/blob/master/pytorch/dataset.py) currently takes an hdf5 file with multiple channels and selects channel 0 for the noisy data.
If users are running inference on a new dataset without labels, their hdf5 file will have only one channel and each batch will be a 2-D array (batch_size * interval_size). We need to support inference on this

[2019-09-03 18:08] tijyojwad opened #6 "Update metrics to support both numpy and torch tensor inputs"
Convert inputs and inputs to torch tensors or numpy arrays before the _call_ function based on whether the function uses scikit learn or torch functions for metric calculation

[2019-09-03 18:08] avantikalal opened #7 "Store model metadata along with model file"
Right now when a model is loaded for inference the main.py script needs the same arguments for model dimensions as was passed during the training of the model. This is cumbersome since the user needs to keep track of the model arch separately.
We need to have a way of either storing the model metadata along with the model, or of inferring the model architecture from the pre trained model directly.

[2019-09-03 18:08] tijyojwad opened #8 "Fix multiple files infer/evaluation"
Right now the output file has dimensions equal to just one of the input files. This needs to be fixed in `main.py` `writer` function

[2019-09-03 18:09] tijyojwad opened #9 "Add AtacWorks Dockerfile"

[2019-09-03 18:10] tijyojwad opened #10 "Store model metadata along with model file"
Right now when a model is loaded for inference the main.py script needs the same arguments for model dimensins as was passed during the training of the model. This is cumbersome since the user needs to keep track of the model arch separately somehow.

We need to have a way of either storing the model metadata along with the model, or of inferring the model architecture from the pre trained model d

[2019-09-03 18:54] #10 closed, assigned to nobody

[2019-09-03 19:40] avantikalal opened #11 "Add pretrained models based on single-cell data"

[2019-09-04 03:26] avantikalal opened #12 "Measure convergence in interval centers vs. edge"

[2019-09-04 03:26] avantikalal opened #13 "Save data in named Numpy fields"
- name Numpy fields as noisy_data, clean_data, clean_peaks
- saving noisy data is not required once dynamic downsampling is merged.
- edit all data loading accordingly
- edit calculate_baseline_metrics accordingly

[2019-09-05 02:08] #3 closed, assigned to tijyojwad

[2019-09-05 16:42] zchiang opened #15 "ModuleNotFoundError: No module named 'claragenomics.io.bedgraphio'"
Hi,

I've been trying to run the AtacWorks example/run.sh script and ran into a few issues. What follows are the steps I tried, let me know if you have any questions.

1. System setup: I was able to install the dependencies and run the unit tests with no issues.
2. Workflow example: I tried to run the example/run.sh script and got the following error message:
[code]
3. I cloned the ClaraGenomicsAn

[2019-09-05 19:03] tijyojwad opened #16 "Setup GPU node on Azure for AtacWorks testing"
Node with V100
CUDA toolkit 10.1

[2019-09-05 19:32] #15 closed, assigned to tijyojwad

[2019-09-10 00:10] tijyojwad opened #18 "[data] store dataset medata in metadata section of h5"
Right now information about like the dataset like `padding` is supplied as command line parameters to different scripts in the pipeline. But this metadata should be stored with the dataset at time of generation so downstream scripts can read it from the dataset directly without depending on explicitly passed arguments. This request is to add the metadata section to the .h5 and use it in various sc

[2019-09-11 13:19] #16 closed, assigned to tijyojwad

[2019-09-11 20:42] zchiang opened #20 "batch_data only has 2 dim when running bw2h5.py with --nolabel"
When I run bw2h5.py with the --nolabel parameter, np.dstack is never called and batch_data is two-dimensional, causing 'batch_data.shape[2]' to throw an error when creating a dataframe.

[2019-09-11 22:43] #5 closed, assigned to nobody

[2019-09-12 18:13] zchiang opened #22 "postprocess.py failing with no error"
I am trying to run postprocess.py to convert my model output to bigWig tracks and am running into the following:

[code]

when I check the bedGraph file it is empty:
[code]

here is the exact command I am running:
[code]

I was able to reproduce the issue twice. I suspect it is a memory issue (other people in my lab are concurrently running processes on my machine), but am not sure how to validate

[2019-09-13 17:37] #20 closed, assigned to zchiang

[2019-09-13 17:44] zchiang opened #24 "Inference with pretrained model failing at 1000"
I am trying to run inference using data/pretrained_models/bulk_blood_data/1000000.7cell.resnet.5.2.15.8.50.0803.pth.tar and am running into the following error:

[code]

I've tried multiple times and it always seem to fail at 1000. This is on an AWS instance. This is the command I'm running:
[code]

[2019-09-13 18:10] tijyojwad opened #25 "replace --predict-only with --no-label"
update postprocess.py script documentation to say --nolabel where it still says --predict-only

[2019-09-13 23:57] #24 closed, assigned to tijyojwad, zchiang

[2019-09-14 01:33] #25 closed, assigned to nobody

[2019-09-17 18:57] zchiang opened #28 "postprocess.py: bedGraph is not case-sensitive sorted at line 31344203. Please use "sort -k1,1 -k2,2n" with LC_COLLATE=C, or bedSort and try again."
I get this error when running postprocess.py to output both tracks and peaks. It looks like the original conversion to bedGraph works correctly, but they must be sorted alphabetically (i.e. chr1, chr10, chr11, etc.) in order to be successfully converted to bigWig.

Example postprocess.py output:
[code]

And the command I'm running:
[code]

[2019-09-17 21:02] avantikalal opened #30 "Test focal loss"

[2019-09-17 21:04] #11 closed, assigned to avantikalal

[2019-09-17 21:04] #12 closed, assigned to avantikalal

[2019-09-17 22:46] #28 closed, assigned to nobody

[2019-09-18 17:00] zchiang opened #31 "peaksummary.py not writing to file and no error"
For some reason, it looks like peaksummary.py cannot successfully write the peak results to the final output file. If I stop the program while it is running, I can see that it is able to write the intermediate bedGraphs file, but the final output only has the header:
`chrom	start	end	len	mean	max	relativesummit	summit`

The output message don't seem to indicate any error:
[code]

This is the comma

[2019-09-19 19:39] #31 closed, assigned to nobody

[2019-09-24 03:01] zchiang opened #35 "CUDA out of memory"
Getting this error when running main.py:
[code]
Command:
[code]

This is using a new pretrained model + settings sent to me by Avantika.

[2019-09-24 04:03] #35 closed, assigned to nobody

[2019-10-10 22:12] avantikalal opened #39 "Eliminate postprocessing by writing directly to bigWig"
Can we write inference results directly to bigWig format in `main.py`? This eliminates `postprocess.py`, saves disk space and time spent in I/O of intermediate files. Should be possible using `pyBigWig` functions.

[2019-10-22 21:17] tijyojwad opened #42 "[infer] ignore inference on intervals of all 0"

[2019-10-22 21:23] tijyojwad opened #43 "[README] clarify environment setup"
Update min GCC version
conda/virtualenv instructions

[2019-10-22 21:25] tijyojwad opened #44 "[README] Step by step example"
Add step by step example for training and inference
Redirect to example scripts for each of them in example folder

[2019-10-22 21:27] tijyojwad opened #45 "[README] Add pictures and overview of AtacWorks"
Borrow images from slides and preprint  and add to README along with description

[2019-10-22 21:35] #22 closed

[2019-10-22 21:36] tijyojwad commented on #13
New feature to be added to this request -

Right now information about like the dataset like padding is supplied as command line parameters to different scripts in the pipeline. But this metadata should be stored with the dataset at time of generation so downstream scripts can read it from the dataset directly without depending on explicitly passed arguments. This request is to add the metadata se

[2019-10-22 21:36] #18 closed

[2019-10-22 21:38] tijyojwad opened #46 "[workflow] pipeline atacworks to overlap inference and post processing"
Pipeline AtacaWorks workflow to run multiple batches simultaneously.

1. Inference --- PostProcess
                          2. Inference   ---  PostProcess
                                                      3. Inference   ---  PostProcess

[2019-10-24 22:14] ntadimeti opened #48 "[main.py] Remove modification of args in the script."
`args` should always reflect command line arguments and should not be modified internally in the code. Similarly adding new `args` also isn't ideal.

[2019-10-24 22:34] ntadimeti commented on #48
Also change the following:

pass args.infer_files as a string to `writer` function if only one file is being passed. Currently various modules expect a list, but it's unnecessary since we loop over several input files instead of appending them. #issue4

[2019-10-29 17:04] ntadimeti commented on #8
Fixed.

[2019-10-29 17:04] #8 closed

[2019-11-06 23:06] ntadimeti opened #53 "Create a basic testing proposal"
Currently we do not test for various functionalities like multi-threading, num_workers etc. This can lead to pitfalls when adding/changing features. Testing different settings can help catch these scenarios.

[2019-11-06 23:09] ntadimeti opened #54 "Organize main.py command line arguments into config file"
Currently main.py takes in a lot of arguments for various functionalities and it can get confusing for first-time users. Proposal is to organize the main.py help arguments into 3 main categories. train, eval and infer. For example python main.py --infer_help will print only arguments relevant to inference.

[2019-11-06 23:16] tijyojwad commented on #54
Here's an example of how that can be done with python argparse - https://chase-seibert.github.io/blog/2014/03/21/python-multilevel-argparse.html

[2019-11-13 19:05] avantikalal opened #55 "choose metric for best model"
https://github.com/clara-genomics/AtacWorks/blob/master/main.py#L98 sets AUROC as the metric to select the best model if task==both. The user should be allowed to choose the metric, or minimally, to choose between AUROC or Pearson correlation.

[2019-11-14 20:50] avantikalal opened #56 "Add Spearman Correlation to metrics and calculate_baseline_metrics.py"

[2019-11-14 21:09] ntadimeti commented on #39
Done. This leads to slow perf because writing out bedgraph isn't parallelized. Opening another PR to address the perf issues.

[2019-11-14 21:09] #39 closed

[2019-11-14 21:16] ntadimeti opened #57 "[main.py] Add parallelization to writing out bedGraph files"
Inference results are being saved to bedGraph files. This happens in a serial fashion and is very slow. On a large dataset inference on GPU take 10 minutes and 90 minutes are spent on writing out the results. This can be parallelized and made significantly faster.

[2019-11-14 21:24] ntadimeti opened #58 "Benchmark end2end time with large dataset"

[2019-11-14 22:59] avantikalal opened #59 "Testing log transformation of coverage tracks"

[2019-11-15 00:19] avantikalal opened #61 "Add evaluation script for quality enhancement use case"
Save array for TSS enrrichment plot
FRIP equivalent (Fraction of Signal in Peaks?) - based on called peaks or peaks in clean data or both?
Number of peaks
Number of peaks above threshold

[2019-11-15 20:57] avantikalal commented on #56
Filed SWIPAT: http://nvbugs/2758572

[2019-11-18 19:31] tijyojwad opened #65 "[style] add linting to AtacWorks module"
Add `flake8` based python linting to AtacWorks. Settings can be grabbed from https://github.com/clara-genomics/ClaraGenomicsAnalysis/blob/dev-v0.4.0/pyclaragenomics/setup.cfg

[2019-11-22 22:05] #56 closed

[2019-11-25 15:53] tijyojwad commented on #57
@ntadimeti changes were checking in with #62 . Anything else left on on this?

[2019-11-25 19:24] ntadimeti commented on #57
Nothing else, this can be closed. We can open another issue if we want to look into bringing the inference time even down ? Not sure if that's necessary ?

[2019-11-26 04:05] tijyojwad commented on #57
Sounds good, no need to create a new issue now. Closing this one. Thanks @ntadimeti !

[2019-11-26 04:05] #57 closed

[2019-11-26 04:06] tijyojwad commented on #45
Updated with #67 . Thanks @avantikalal !

[2019-11-26 04:06] #45 closed

[2019-11-26 19:15] avantikalal commented on #46
Can this be closed?

[2019-11-26 20:17] avantikalal opened #70 "[main.py] inference should terminate if `bedGraphToBigWig` throws an error"

[2019-11-26 21:24] #70 closed

[2019-11-27 19:24] tijyojwad commented on #46
Yes, this feature has been invalidated with https://github.com/clara-genomics/AtacWorks/pull/51 which combined postprocess and main into a single step

[2019-11-27 19:24] #46 closed

[2019-12-04 22:24] #59 closed

[2019-12-05 03:35] avantikalal opened #77 "Make rounding a command line argument"
Number of decimal digits to round inference output, currently seems to be fixed in main.py.

[2019-12-06 18:10] avantikalal opened #78 "Spearman correlation calculation fails for large arrays (whole genome)"
Traceback (most recent call last):
  File "/home/dcg-adlr-alal-data.cosmos657/AtacWorks/calculate_baseline_metrics.py", line 172, in <module>
    metrics = calculate_metrics([MSE(), CorrCoef(), SpearmanCorrCoef()], x, y)
  File "/home/dcg-adlr-alal-data.cosmos657/AtacWorks/calculate_baseline_metrics.py", line 112, in calculate_metrics
    metric(x, y)
  File "/home/dcg-adlr-alal-data.cosmos657/Ata

[2019-12-17 13:41] ntadimeti commented on #77
PR82 addresses this. Closing the issue.

https://github.com/clara-genomics/AtacWorks/pull/82

[2019-12-17 13:41] #77 closed

[2019-12-17 17:53] tijyojwad commented on #54
Updating this task to cover redesigning of option parsing from command line only to command line + config file.

[2019-12-19 12:27] ntadimeti commented on #7
Addressed by PR: https://github.com/clara-genomics/AtacWorks/pull/83

[2019-12-20 16:21] tijyojwad opened #86 "[main] Fix API documentation"
Everytime we update a function signature, we risk outdating the documentation of the function. We already have several functions that are either outdated or have no documentation at all. We need fix this in an automated fashion. One way to go about it is to apply documentation checker for the source code as part of CI. This will ensure that any update to our APIs is accompanied by the correspondin

[2020-01-02 21:28] ntadimeti commented on #58
does this need to be in P0 @tijyojwad  ?

[2020-01-02 21:28] ntadimeti commented on #55
merged changes for this.

[2020-01-02 21:28] #55 closed

[2020-01-02 21:32] tijyojwad commented on #58
Probably not @ntadimeti .Moved it to P1

[2020-01-02 21:49] ntadimeti commented on #43
can this be closed ? Readme says gcc 5+ and FAQs mention installing conda / venv from respective websites and then following our readme. Is there anything in specific we need to add ?

[2020-01-02 21:51] ntadimeti commented on #44
update : split example/run.sh into training and inference scripts at the minimum.

[2020-01-03 14:05] #78 closed

[2020-01-03 16:24] tijyojwad commented on #43
I think that should be good enough for now. Closing

[2020-01-03 16:24] #43 closed

[2020-01-03 16:38] tijyojwad commented on #9
We can add a Dockerfile to the repo and push a built image to https://hub.docker.com/u/claraomics

[2020-01-03 22:43] avantikalal commented on #44
Apart from the default options in `run.sh` , also include a description of various other options available for training and inference and how to use them. For example, changing the loss function and weights, changing the metric to select the best model.

[2020-01-08 15:17] ntadimeti commented on #7
merged #83

[2020-01-08 15:17] #7 closed

[2020-01-08 18:54] ntadimeti commented on #54
#89 addresses this

[2020-01-09 17:07] ntadimeti opened #90 "Write detailed help for command line options in scripts."

[2020-01-09 17:08] ntadimeti opened #91 "[Readme] Explore options of testing the commands provided in Readme through CI."

[2020-01-10 16:45] ntadimeti commented on #48
#94 addresses this.

[2020-01-10 22:07] ntadimeti opened #95 "Reorganize main.py and other modules"
The worker modules inside worker.py have a lot of complex things going on. They can possibly be divided into smaller modular functions/modules.

main.py itself can be re-organized into more modules that do much simpler operations.

[2020-01-13 16:20] #54 closed

[2020-01-14 21:14] ntadimeti commented on #48
@tijyojwad  closing this.

[2020-01-14 21:14] #48 closed

[2020-01-14 23:16] ntadimeti opened #98 "main.py : Function to set random seed."
The function to add random seed is currently not being used anywhere and we are not sure it is functional. Removing it from main.py for now. Validate and add this feature back.

[code]

[2020-01-15 17:06] ntadimeti commented on #53
Features to be added for v0.2 are:
1. pyflakes (to catch unused imports and unused variables)
2. pydocstyle (to maintain consistent docstring for all modules)
3. end-to-end testing with various settings to cover all "frequently used" settings

[2020-01-15 17:15] ntadimeti opened #100 "Add unit tests for all modules"
For v0.2 release we are adding end to end testing infrastructure. However, individual modules are not being tested.  Add unit test to modules to ensure all modules work.

[2020-01-15 22:30] zchiang opened #101 "Issue with "--task regression" in main.py"
I am seeing the following error when I run main.py with "--task regression":

[code]

Here is the command I am running:

[code]

If I run the same command, but change "regression" to "both" then it seems to run without issues. Let me know if I can provide any other info.

[2020-01-15 22:36] tijyojwad commented on #101
@ntadimeti can you take a look?

[2020-01-15 22:40] zchiang commented on #101
should mention I'm on branch dev-v0.2.0

[2020-01-15 22:59] avantikalal commented on #101
Currently it is not possible to run --model resnet with any task other than 'both'. The resnet is designed to perform both tasks. @zchiang I'd suggest running it with `--both` and ignore the classification output if it's not useful. If runtime is an issue for you we can discuss that separately.

[2020-01-15 23:06] zchiang commented on #101
Ah okay. Yes, let's discuss elsewhere.

[2020-01-15 23:06] #101 closed

[2020-01-16 20:22] #9 closed

[2020-01-16 20:53] ntadimeti commented on #65
this is being addressed as part of issue 53. closing this one.

[2020-01-16 20:53] #65 closed

[2020-01-16 20:59] tijyojwad opened #102 "[sdk] create python package from AtacWorks src files"
Create a python package from AtacWorks source files for easier distribution. example `setup.py` script can be found at https://github.com/clara-genomics/ClaraGenomicsAnalysis/blob/release-v0.1-ea/pyclaragenomics/setup.py

[2020-01-24 20:08] ntadimeti opened #106 "misc fixes to review"
1. train.py - Whether we need the print statement of `time breakdown for epochs` in the end
2. print_rank_0 in utils.py
3. definition of rank.

[2020-01-27 21:18] ntadimeti commented on #106
@tijyojwad  can you comment on the above three issues I mentioned ?

[2020-01-27 21:20] ntadimeti commented on #86
done.

[2020-01-27 21:20] #86 closed

[2020-01-28 01:20] ntadimeti opened #107 "[get_intervals.py] Fix prefix usage"
Prefix usage should be optional. Incase no prefix is provided, code should still generate valid output files with default or no prefix.

Currently prefix is akin to output_path + prefix.

get_intervals.py, bw2h5.py have this.

[2020-01-28 02:00] tijyojwad commented on #106
Rank is the index number associated with a GPU

Print_rank_0 only prints messages from the process that's running on GPU 0. It helps make the output more readable.

Time breakdown per epoch is nice to have

[2020-01-31 01:28] ntadimeti opened #108 "AtacWorks models are not identical"
There is a small difference in the order of e-15 between weights from different runs. However, if we don't fix this, we will see different inference results and they will be uncomparable.

[2020-02-03 18:27] #13 closed

[2020-02-04 19:32] ntadimeti opened #113 "peak2bw : Automate skipping of headers."

[2020-02-06 02:06] avantikalal opened #114 "Fix to include ends of chromosomes."
Currently get_intervals.py deletes intervals that extend beyond the chromosome length. This means that the last few kilobases of each chromosome are not covered in the intervals and no prediction is made for them when we perform inference.
These bases should somehow be included.
Pad the h5 with zeros beyond the chromosome size, then at the time of writing the bedGraph file trim off the excess zero

[2020-02-07 17:12] ntadimeti opened #116 "add custom messages to tests."
add custom messages of failure to check_status call

[2020-02-10 17:52] ntadimeti commented on #53
merged.

[2020-02-10 17:52] #53 closed

[2020-02-11 06:17] avantikalal opened #118 "Multi-gpu model training does not work"
I tried training a model using the `--distributed` flag on 8 GPUs, using the following command:
[code]

and got the following output:
[code]
When `--distributed` was replaced with `--gpu 0`, the same command worked fine and trained on 1 of 8 GPUs.

[2020-02-11 16:21] ntadimeti commented on #118
I'm not sure I follow this completely. I'm running the example/run.sh script with `epochs=25` and `--distributed` on ToT dev-v0.2.0. It runs just fine.

Were you running this on NGC ? Does example command run fine for you ?

[2020-02-12 20:30] #107 closed

[2020-02-12 21:52] ntadimeti commented on #106
addressed

[2020-02-12 21:53] #106 closed

[2020-02-12 21:54] ntadimeti commented on #90
addresed in #115

[2020-02-12 21:54] #90 closed

[2020-02-12 21:54] ntadimeti commented on #118
fixed.

[2020-02-12 21:54] #118 closed

[2020-02-13 17:06] ntadimeti commented on #116
done.

[2020-02-13 17:06] #116 closed

[2020-02-13 21:58] ntadimeti opened #122 "package and upload atacworks to PyPi"
Figure out how to package pretrained models with atacworks and upload to PyPI

[2020-02-14 01:21] avantikalal opened #123 "Do not print multi-gpu message if training on a single gpu"
When I have 8 GPUs available but I'm training on only a single GPU (with --gpu 0 and without --distributed), the message 'Distributing to 8 GPUs' is still printed.

[2020-02-14 21:25] ntadimeti opened #125 "Remove example/run.sh"
This script will be outdated once the tutorials are released. Remove the script and remove it from Readme as well.

[2020-02-17 20:43] egafni opened #126 "bam -> bigwig script?"
Hello!  I'd like to try running your pre-trained model on a different dataset, but I am worried that I need bigwig files that have been preprocessed identically for it to work.  Do you have code to go from bam -> bigwig and do all the same preprocessing steps mentioned in the paper?

Thanks!

Referring to the following paragraph:
[code]

[2020-02-18 18:50] egafni commented on #126
I've been using this code to do the preprocessing, hopefully it is correct but would love confirmation
[code]

[2020-02-18 19:22] avantikalal commented on #126
Hi @egafni! We're checking our scripts to see whether they work the same as yours. Will get back to you soon.

[2020-02-18 23:10] avantikalal commented on #126
@egafni I believe your code works exactly as required for our model, but I've asked @zchiang to confirm.

[2020-02-19 16:43] egafni commented on #126
Thank you for checking!

[2020-02-19 18:48] zchiang commented on #126
Yup, looks functionally the same to me.

[2020-02-19 19:27] #126 closed

[2020-02-25 22:19] ntadimeti commented on #102
done.

[2020-02-25 22:19] #102 closed

[2020-02-25 22:21] ntadimeti commented on #61
@avantikalal is this still relevant ?

[2020-02-26 17:38] ntadimeti commented on #125
This should be part of #111 . Once the tutorials are in place, we don't need the example dir anymore.
@avantikalal let's incorporate this in the tutorials PR.

[2020-02-26 19:46] ntadimeti commented on #114
@avantikalal  where is the chromosome length defined ? and how do we know the full length of the chromosome to know how many zeroes to append ?

[2020-02-26 19:59] ntadimeti commented on #123
Addressed in #129

[2020-02-26 22:09] #123 closed

[2020-02-27 18:00] ntadimeti opened #130 "Fix resume functionality in training."
Currently resume only reads the weights from an existing model and starts training with them instead of randomly initialized weights. This is only partially correct. Ideally, we would save all the states of training in a checkpoint file and resume training exactly where we left off (including lr, random seed, same batch etc)

[2020-02-27 21:45] ntadimeti commented on #95
issue addressed in #128

[2020-02-27 21:45] #95 closed

[2020-02-27 22:11] tijyojwad commented on #30
@avantikalal looks like this is done. Can we close this issue?

[2020-02-27 23:30] #30 closed

[2020-03-04 19:17] zchiang opened #133 "No space left on device error during inference"
Hi,

I've been running AtacWorks on my university's cluster, where not every job gets the same GPU. Occasionally, I've been running into the following error during the inference step

`Inference ##########---------- [200/412]
Inference ##########---------- [210/412]
Process Process-2:
multiprocessing.pool.RemoteTraceback:
"""
Traceback (most recent call last):
  File "/n/home01/zchiang/.conda/envs

[2020-03-04 19:22] zchiang opened #134 "Error during writing to bigWig"
Hi,

I'm also running into a separate error during writing to bigWig that reads as follows:

[code]

Any idea what's going on here? Please let me know if you need any more info.

[2020-03-04 21:03] ntadimeti commented on #134
@zchiang  can you tell me how big the bigwig files are that you are working with ? Would you be able to share the data and the commands you are running, so that I can reproduce the error ?

[2020-03-04 21:05] ntadimeti commented on #133
@zchiang I would need a little bit more info about the GPUs that are assigned to this job when this error happens. Would you be able to share the logs ?

And we should be able to kill inference if such errors pop-up. I'll look into it.

[2020-03-07 23:36] zchiang commented on #133
Here's an example of one of the nvidia-smi outputs before anything starts running.

[code]

In practice, the cluster has a mix of Tesla K20m, K40m, K80, and V100s -- and I can't control which job gets which GPU. I wrote a super simple script to detect which GPU each job gets and adjusts the inference bs parameter between 128 (for the Ks) and 256 (for the V100). The inference command I've been runn

[2020-03-07 23:38] zchiang commented on #133
Oh, should add that each individual job on the cluster also gets 4 CPUs and 24 GB of memory

[2020-03-09 23:05] avantikalal opened #139 "Automatically select GPU:0 if only one GPU is available"

[2020-03-12 15:22] ntadimeti commented on #133
@zchiang It looks like a CPU problem, since it's crashing at `df_to_csv` step which happens on CPU.
Could you tell me whether this problem is intermittent or completely reproducible ? To me it doesn't seem to do much with GPUs on the cluster at all, it looks like your disk is running out of space. Can you verify if that's the case ?

[2020-03-31 18:47] #44 closed

[2020-03-31 18:47] #58 closed

[2020-03-31 18:48] #125 closed

[2020-04-01 22:17] ntadimeti commented on #134
@zchiang  can you share the following information:
1. Is a bedGraph file generated ? If so can you share the file.
2. Were you able to generate a bigwig file separately on that file?

[2020-04-03 16:18] #139 closed

[2020-04-20 15:27] ntadimeti opened #144 "Optimize writer performance during inference"
There is a slowdown in populating queue as the dataset size increases and this is causing a massive slow down in writing during inference.In some cases, queue remains empty until the inference is completed. This makes writing and inference a serial operation even though writer thread keeps running in parallel all the time.

[2020-04-21 20:50] ntadimeti commented on #144
From the analysis here :https://confluence.nvidia.com/display/GEN/AtacWorks+Inference+Profiling
this issue is deprioritized as it only seems to be a bottleneck on specific platforms. Closing for now, can pick up in future as needed.

[2020-04-21 20:50] #144 closed

[2020-04-21 21:15] ntadimeti commented on #134
Hi @zchiang just checking in to see if you are still facing this problem. Please let me know if it's resolved, I'd like to close it. If you're still facing it, I'd be happy to look into it with logs and repro datasets

[2020-04-21 21:18] ntadimeti commented on #133
Hi @zchiang just checking in to see if you are still facing this problem. Please let me know if it's resolved, I'd like to close it. If you're still facing it, I'd be happy to look into it with logs and repro datasets

[2020-05-10 11:48] wookyung opened #145 "Exception: Invalid format for file paths provided"
Hello,

Thanks for making this tool!
While I was testing Tutorial 1 with your docker version, I got the following error at step 7. I checked all paths are properly set. Any idea or hint to fix this error? Thanks!

[code]

[2020-05-11 15:55] ntadimeti commented on #145
Hi @wookyung

Looks like it's a typo in our tutorial. Good catch. Can you change `--train_files` to `files_train`. It should work fine. I will create a PR to fix this immediately. Thank you.

[2020-05-11 19:24] wookyung commented on #145
Thanks for trying to fix it but I got the same errors with --files_train/--files_val. Was the fixing applied to a docker version? Thanks!

[code]

[2020-05-11 19:39] wookyung commented on #145
Hi @ntadimeti ,

I tried it again with --files_train and --val_files and got the more complicated errors as below:

[code]

[2020-05-11 21:12] ntadimeti commented on #145
@wookyung looks like pytorch needs extra shared memory allocation in the docker container. Here's some documentation on setting the shared memory size: https://docs.nvidia.com/deeplearning/frameworks/user-guide/index.html#setincshmem.

You can use `--shm-size 1GB` or slightly higher when running the docker container and you should be fine.

[2020-05-12 19:41] ntadimeti commented on #113
@avantikalal could you write a lil bit of context to this issue and also point to the files that need to be changed. Also, a quick solution on how to identify header lines will be great.

[2020-05-12 19:41] ntadimeti commented on #134
Closing due to no activity. Can re-open in future if necessary.

[2020-05-12 19:42] ntadimeti commented on #133
Closing due to no activity. Can re-open in future if necessary.

[2020-05-12 19:42] #133 closed

[2020-05-12 19:42] #134 closed

[2020-05-12 19:43] ntadimeti commented on #145
@wookyung closing this issue as the main problem has been resolved. Feel free to open new issues if you have problems in the future. Thanks for trying out AtacWorks.

[2020-05-12 19:43] #145 closed

[2020-05-14 02:38] wookyung opened #153 "main.py infer: error: argument --gpu: invalid int value: 'None'"
Hello,

I am sorry but I don't know where/whom I can ask, so just leave some questions again here (It would be great for me to know the contact info like email address). I got some issues while I was trying both tutorial 1 and 2 as below:

1) Here's the log when I ran the following command at step7 of tutorial 1. It just finished without any error or warning. I don't still get final files that you

[2020-05-14 04:08] avantikalal commented on #153
Hi @wookyung , thank you for trying AtacWorks! Happy to help you get the tutorials running.

For tutorial 2, I think you need to follow this line in the tutorial:
`Note: infer_config.yaml is set up to use multiple GPUs. If you are using a single GPU, edit infer_config.yaml to change the line gpu: "None" to read gpu: 0.`

`--sizes_file` is the correct flag.

[2020-05-14 04:12] avantikalal commented on #153
For the issue with tutorial 1, I'm not quite clear on the problem you're facing. The log says that it has saved output files to the folder `./trained_models_2020.05.13_16.37`. Are you saying that no output files exist in that folder?

[2020-05-14 05:39] wookyung commented on #153
Hi avantikalal,

Thank you for your answer!  Here's the output files in
trained_models_2020.05.13_16.37.

Sorry but I think I was confused with tutorial 2. Are those outputs the
common results including

model_best.pth.tar?

kimw@compute1-exec-206:/data/kimw/ATAC/ATAC_2019$ ls -l
trained_models_2020.05.13_16.37

total 26640

d---------. 2 kimw domain users   8192 May 13 16:37 configs

----------.

[2020-05-14 05:53] wookyung commented on #153
For tutorial 2, I am trying it with gpu: 0. Thanks for your comments.

2020년 5월 13일 (수) 오후 11:08, avantikalal <notifications@github.com>님이 작성:

[2020-05-14 06:10] avantikalal commented on #153
Regarding tutorial 1, these are the expected output files, but it seems they are not being saved with the expected file/folder names. We will correct this.

`model_best.pth.tar` is the model with the best AUROC on the validation set.

[2020-05-14 15:07] wookyung commented on #153
Thanks for your help!

2020년 5월 14일 (목) 오전 1:10, avantikalal <notifications@github.com>님이 작성:

[2020-05-14 15:44] wookyung commented on #153
At step 7 of tutorial 2, it's just done and I got the following error.
Could you look it over? Thanks.

-Wookyung

$atacworks/scripts/main.py infer --files NK.50_cells.h5 --sizes_file
$atacworks/data/reference/hg19.auto.sizes --config
configs/infer_config_single.yaml --config_mparams
configs/model_structure.yaml

INFO:2020-05-14 05:54:10,419:AtacWorks-main] Checkng input files for
compatibility

B

[2020-05-14 17:15] ntadimeti commented on #153
@wookyung  Looks like there's some permission issues and the program is unable to write to the following destination "./inference_output_2020.05.14_05.54". Can you do the following and show us the output?
[code]

By the way, thank you very much for going through this and pointing out the issues. We will make sure to add tests to prevent this from happening in the future. We appreciate your feedbac

[2020-05-14 18:10] wookyung commented on #153
Hi @ntadimeti and @avantikalal,

Thanks again for your help. Here's the results with $atacworks/scripts/main.py
infer --files NK.50_cells.h5 --sizes_file
$atacworks/data/reference/hg19.auto.sizes
--config configs/infer_config_single.yaml --config_mparams
configs/model_structure.yaml.

Actually, I got the file named inference_output_2020.05.14_05.54, in which
just only 'NK_inferred.track.bedGraph'

[2020-05-14 22:50] ntadimeti commented on #153
Hi @wookyung  the permissions to the `inference_output_2020.05.14_05.54` folder has only admin rights. By default `os.makedirs` should create a folder with 777 permissions, but on some systems the mode is ignored. Here's a detailed explanation : https://docs.python.org/3/library/os.html

For now, you could add a `os.chmod` call explicitly after the `os.makedirs()` is called, that should resolve th

[2020-05-15 03:46] wookyung commented on #153
Thanks for figuring it out.

1) Anyway, I just tried to let the upper directory where the output folder
is generated have 777 permission with 'chmod 777 tutorial2' but still I had
the same issue, that I had just a bedgraph file as below:

kimw@compute1-exec-210:/data/kimw/ATAC/ATAC_2019/tutorial2$
$atacworks/scripts/main.py infer --files NK.50_cells.h5 --sizes_file
$atacworks/data/reference/hg19.a

[2020-05-15 21:06] ntadimeti commented on #153
@wookyung  unfortunately, the permissions issue sounds like it's unique to your setup. Could you verify if the jobs you are running also have proper permissions to write to the destination ?

Regarding the multi-GPU inference, AtacWorks is capable of multi-GPU inference. You can either add `--distributed` to your inference command or set `distributed: True` in the configs/infer_config.yaml`. If th

[2020-05-15 21:12] ntadimeti commented on #108
AtacWorks uses `orch.nn.functional.interpolate()` which according to pyTorch is non-deterministic. While we can minimize our differences, we may not be able to achieve fully identical models. https://pytorch.org/docs/stable/notes/randomness.html

-I've added PR that sets all the random seeds.
-We don't use cudnn, so we don't need to set those flags.

@avantikalal @tijyojwad , anything else you thi

[2020-05-18 18:47] ntadimeti commented on #153
@wookyung , we identified a bug where the custom config files are not being picked up. This explains a lot of the problems that you are seeing as well. I am creating an issue for it and feel free to track it. You can checkout the dev-0.3.0 branch when these bug fixes are merged. Thanks for your patience.

[2020-05-18 18:49] ntadimeti opened #155 "Custom configs not being picked up by main.py script."
Custom configs are not being read. Seems like this feature got dropped when modularizing the parser options.

[2020-05-18 18:49] wookyung commented on #153
Thanks for figuring out the issue. Let me know try it when you are done
with fixing it.

Best,
Wookyung

On Mon, May 18, 2020 at 1:47 PM ntadimeti <notifications@github.com> wrote:

[2020-05-18 18:50] ntadimeti opened #156 "Remove pre-processing scripts and call them as modules in main script."
This will help us avoid all the different scripts and we can then have only 1 script that does pre/post processing.

[2020-05-18 18:51] ntadimeti commented on #108
closing this comment, as it seems that with our current setup there will be certain non-determinism. we can investigate this later if it becomes relevant/important.

[2020-05-18 18:51] #108 closed

[2020-05-18 18:59] ntadimeti commented on #153
In the meantime, if you'd like to try, you should be able to edit the default config files under `$atacworks/configs/` folder and scripts should run as expected.

[2020-05-18 19:00] ntadimeti commented on #153
Closing this, the open issue #155  should address these problems.

[2020-05-27 18:22] ntadimeti commented on #155
Fixed by #158

[2020-05-27 18:22] #155 closed

[2020-05-28 17:22] ntadimeti commented on #91
Readme currently does not have much commands in it. All commands are shifted to tutorials. Will open up an issue to convert tutorials into jupyter notebook. Closing this.

[2020-05-28 17:22] #91 closed

[2020-05-29 05:34] wookyung commented on #153
[image: image.gif]
[image: image.gif]
[image: image.gif]
[image: image.gif]
Hello @ntadimeti,

Thanks for updating the script. I tried the docker version
(claraomics/atacworks;
that is the one you recently updated, right?) again but I am sorry I got
the errors again. Also I am not sure if it is our system issue or command
issue ( If there seems to be the system issue, please let me know. I will
as

[2020-05-29 13:20] ntadimeti commented on #153
@wookyung, We haven't uploaded the new 0.2.3 release docker container on the docker hub yet. That still has a previous snapshot of the atacworks. I will upload the new container and update on this thread.

You can also use Dockerfile checked into the repository and build the latest snapshot of AtacWorks anytime.

[2020-05-29 14:34] ntadimeti opened #159 "enable automated docker image upload with new merges to master"
Currently, pushing a new image to dockerhub is a manual process. This prevents users from having a seamless experience of using the latest image at all times.

[2020-05-29 15:05] wookyung commented on #153
Thanks. I will try it when you upload the recent version. -Wookyung

On Fri, May 29, 2020 at 8:20 AM ntadimeti <notifications@github.com> wrote:

[2020-05-29 16:04] ntadimeti commented on #153
@wookyung : the current dockerfile clones dev-v0.3.0 branch by default. Please do `git checkout master` before running any other commands. We will fix this soon.

[2020-05-29 17:12] ntadimeti commented on #153
Fixed the branch issue. You should now be able to run on master branch directly

[2020-05-29 17:33] wookyung commented on #153
Thanks. Which one? claraomics/atacworks: v0.3.0?

2020년 5월 29일 (금) 오후 12:12, ntadimeti <notifications@github.com>님이 작성:

[2020-05-29 17:41] ntadimeti commented on #153
`claraomics/atacworks:latest` should work just fine.

[2020-05-29 17:44] wookyung commented on #153
Could you confirm the version of that? I tried  claraomics/atacworks:
v0.3.0,  claraomics/atacworks: v0.3,  claraomics/atacworks: dev-v0.3.0 etc.
but it didn't work.

2020년 5월 29일 (금) 오후 12:33, Wookyung Kim <kimwk2011@gmail.com>님이 작성:

[2020-05-29 17:45] ntadimeti commented on #153
You don't need a version. `latest` is the tag name.

[2020-05-29 17:50] ntadimeti opened #160 "Move tutorials into jupyter notebook format from md files."
-> Easy user interface
-> easy to test in CI

[2020-05-29 21:15] wookyung commented on #153
Thanks for confirming. With your tutorial2 test files and the latest
version (actually the command  to check a version; git checkout master
didn't work in my system like  'fatal: not a git repository (or any of the
parent directories): .git'),
I tried the following commands and got the same errors.
To summarize the errors: 1) atacworks doesn't work in out multiple GPUs
system; does work after chan

[2020-06-01 14:53] ntadimeti commented on #153
Hi wookyung, are you running the docker interactively ? I'd love to debug this as a live session with you. I have been able to run both tutorials without problem through the uploaded docker image claraomics/atacworks:latest. I wonder if it's some configuration problems on your side. Would you be available for a meeting where we can debug things together ?

[2020-06-01 15:02] ntadimeti commented on #153
@wookyung
Here's my commands to run the docker image interactively:
[code]
Can you report if these commands run fine for you ?

[2020-06-01 15:29] ntadimeti opened #161 "Sphynx documentation"
Write detailed documentation in spynx. Create a webpage feature for the documentation.

[2020-06-01 15:30] ntadimeti opened #162 "AWS AMI"
Create AWS AMI that contains pre-installed atacworks.

NOTE: This will only be a snap-shot version. User is encouraged to clone repo on their own if they want to do developmental works on AtacWorks.

[2020-06-01 15:32] ntadimeti commented on #122
Entry point change for atacworks. Command to look  like :

`atacworks denoise [--callpeaks] -bigwig <bigwig file> -m <pre-trained model> -o <output-dir>`

[2020-06-01 15:35] ntadimeti opened #163 "Create pre-trained model registry on NGC"
Version controlled NGC pre-trained model registry

[2020-06-01 15:39] ntadimeti commented on #98
Currently AtacWorks uses certain pytorch functions that do not guarantee determinism. All the other parts of the code that can be deterministic, utitlize the seed. Issue #150 addresses this.

[2020-06-01 15:39] #98 closed

[2020-06-01 15:46] ntadimeti commented on #6
@tijyojwad Is this still relevant? could you comment on what/how this PR is going to help with? Also, relevant files that need to be looked at for this change, if it needs to be addressed.

[2020-06-01 15:47] ntadimeti commented on #4
@avantikalal , @tijyojwad  -- need your input in knowing if this issue is relevant/important ?

[2020-06-01 15:55] avantikalal commented on #4
Initial results showed this did not improve performance. Not worth pursuing at the moment as >5x resampling of training data doesn't noticeably improve performance in our experiments.

[2020-06-01 15:55] #4 closed

[2020-06-03 13:28] tijyojwad commented on #6
This was intended for the metrics calculation classes. From what I recall there's a conditional in every metrics class that checks for whether or not the input array is numpy or a torch tensor. Python decorators are a neater way to do it so each of the classes can just call the decorator that does that check and conversion.

I think it's still relevant, but low priority.

[2020-06-03 13:48] ntadimeti commented on #6
Gotcha! Makes sense.

[2020-06-04 02:26] wookyung commented on #153
Hi @ntadimeti,

Sorry for a late reply.
Here's the result with the commands that you recommended. I am still
getting the permission error. Please let me know if you have any ideas. I
would be available for a meeting with you guys on Friday. We normally use
Zoom. I can invite you if you want. Thanks!  -Wookyung

[kimw@compute1-client-1 ~]$ cat start_atacworks.sh

export LSF_DOCKER_VOLUMES='/storage

[2020-06-04 15:50] ntadimeti commented on #153
Thanks @wookyung. You have the right branch. Could you please do a fresh run of ALL steps of tutorial2 and confirm that on step7, you see the following message : `Distributing to <N> GPUS` where N is the number of GPUs on your system ? You should no longer see `--gpu: invalid int value: None` error. Please report back on this.

[2020-06-05 04:09] wookyung commented on #153
Hi @ntadimeti,

Thanks for your reply. I tried to newly download files required and
interactively followed all steps of tutorial2 and finally got the following
errors (please see the errors in the bottom of the mail). Good news is I
don't see '--gpu: invalid int value: None' any longer and bad news is I
don't see 'Distributing to <N> GPUS', too. So would that mean my GPUs were
not properly set? Wi

[2020-06-05 14:54] ntadimeti commented on #153
@wookyung -- It was my bad earlier. Program does not output "Distributing to N GPUs". What you're seeing is the correct behavior. So, you are now successfully able to launch multi-GPU inference run. Yay!

Now, if you want to run on single GPU, you will have to make the following config changes inside the tutorial2 directory:
[code]
Replace `gpu: "None"` to `gpu: 0`. Where `0` is the gpu-ID. If you

[2020-06-05 15:01] ntadimeti commented on #153
Now, let's address your final error "invalid cross-devide link". One of the prime suspects why it's happening is that the source and destination are on different file systems. To verify this, can you run the following commands inside your interactive docker container and report the output back ?
[code]
Please copy paste the output from above command

[code]
Please copy paste the output from above

[2020-06-05 17:37] wookyung commented on #153
Thanks! I'm so glad to fix one of the errors. Thanks to you.
To be clear, *if I want to use 4 GPUs,* do I have to replace "gpu: None"
with "gpu: 0,1,2,3" or "gpu: 3" and "distributed: True" as well because I
am using multiple GPUs? Thanks.

2020년 6월 5일 (금) 오전 9:55, ntadimeti <notifications@github.com>님이 작성:

[2020-06-05 17:40] wookyung commented on #153
Sorry, I set to use 4 GPUs and I can see I have gpu ID from 0 through 3.

2020년 6월 5일 (금) 오후 12:37, Wookyung Kim <kimwk2011@gmail.com>님이 작성:

[2020-06-05 18:06] ntadimeti commented on #153
@wookyung
the `gpu` parameter in the config file is ONLY applicable in a single GPU case. It is irrelevant for a multi-GPU use case currently.

Currently, if you set `distributed: True`, atacworks inference will run on ALL the available GPUs on the system. Currently, we don't support using a subset of GPUs for multi-GPU setting. The only way you can use a subset is by setting "CUDA_VISIBLE_DEVICES

[2020-06-05 20:12] ntadimeti commented on #160
Addressed in #167

[2020-06-05 20:17] ntadimeti opened #168 "replace gpu: None with a more intuitive config option"
Purpose of gpu: None argument in config file is confusing. Users are confused whether it needs to be set to ALL gpuIDs for multi-GPU configuration. What None means and does in the context of multi-GPU setting.

Proposed ideas:
-> rename `gpu` to `gpuID` to make the purpose of the variable clearer.
-> Support specification of multiple gpuIDs (if only one index, run in single GPU mode, if more than

[2020-06-05 21:08] wookyung commented on #153
Hi @ntadimeti,

Thanks for confirming. Here's result with the commands that you suggested.
Let me know if you have good ideas. Thanks!

kimw@compute1-exec-215:/data/kimw/ATAC/ATAC_2019/tutorial2$ df /tmp/

Filesystem                                   1K-blocks     Used Available
Use% Mounted on

/dev/mapper/vg_compute1--exec--215--pxe-root 232150272 57104168 175046104
25% /tmp

kimw@compute1-exec-

[2020-06-05 21:36] ntadimeti commented on #153
@wookyung

My suspicion is confirmed. The `/tmp` and `/data/` dirs are on different file systems. I have a PR that should address this #166 . Please follow the commands below and report back if it fixes the `invalid cross device link` error.

Start the interactive docker as always
[code]
After the above steps, you will be on the branch where I've made the changes that should get rid of that error.

[2020-06-06 03:33] wookyung commented on #153
I appreciate your help. I tried your commands. I am sorry but I got the
following errors.

[kimw@compute1-client-1 ~]$ cat start_atacworks.sh

export LSF_DOCKER_VOLUMES='/storage1/fs1/yooa/Active/Wookyung:/data/kimw/'

export LSF_DOCKER_NETWORK=host

export LSF_DOCKER_IPC=host

export LSF_DOCKER_SHM_SIZE=4g

bsub -G compute-yooa -Is -q general-interactive -gpu
"num=4:gmodel=TeslaV100_SXM2_32GB" -R

[2020-06-08 20:13] avantikalal opened #169 "Input/output binned data"
Currently, binned bigWig files can be used with AtacWorks but the output will have single-base pair resolution. If a binned bigWig file is used for input, the output should have the same bin size.

[2020-06-08 20:21] ntadimeti commented on #161
June 8 -- Draft 1 complete.

[2020-06-08 20:36] ntadimeti commented on #153
@wookyung Looks like you need root permissions to change those files. To make it even easier for you, I will push another docker image with the needed changes. I will let you know once the docker image is pushed.

[2020-06-10 06:15] wookyung commented on #153
Thank you so much. I will look forward to hearing from you.

Best,
Wookyung

2020년 6월 8일 (월) 오후 3:36, ntadimeti <notifications@github.com>님이 작성:

[2020-06-12 23:59] avantikalal opened #170 "Add set of standard config files"
Include a set of config files with commonly used parameters, covering single-GPU and multi-GPU use. Give each config file a descriptive name and allow users to select a suitable config for their experiment.

[2020-06-15 16:04] wookyung commented on #153
Hello,

I didn’t notice that you emailed me. Sorry about that. I will get back to
tou once I tried it. Thanks!

-Wookyung

On Wed, Jun 10, 2020 at 10:55 AM ntadimeti <notifications@github.com> wrote:

[2020-06-18 00:05] wookyung commented on #153
Hello,

I wanted to try tutorial2 with the docker image
claraomics/atacworks:test updated.
Does the link
(
https://github.com/clara-parabricks/AtacWorks/blob/dev-v0.3.0/tutorials/tutorial2.md)
have a problem? I couldn't access it. Thanks.

Wookyung

2020년 6월 15일 (월) 오전 11:04, Wookyung Kim <kimwk2011@gmail.com>님이 작성:

[2020-06-18 15:08] ntadimeti commented on #153
Hi wookyung, please use this link : https://github.com/clara-parabricks/AtacWorks/blob/master/tutorials/tutorial2.md

The above link is for the branch dev-v0.3.0. It's a branch that's under rapid development and it's not stable for users. :)

[2020-06-18 16:00] ntadimeti commented on #161
June 18 -- Draft 2 complete. Closing this issue. Creating new issue to finalize the documentation

[2020-06-18 16:01] #161 closed

[2020-06-18 16:02] ntadimeti commented on #163
Upload of 10 pretrained models mentioned in the repo complete. Closing this issue. Creating new one for uploading rest of the models and publishing the models.

[2020-06-18 16:02] #163 closed

[2020-06-18 16:03] ntadimeti commented on #160
Moved tutorials to jupyter notebook. Closing this. Creating new issue for attaching these to CI.

[2020-06-18 16:03] #160 closed

[2020-06-18 16:27] ntadimeti opened #173 "Update documentation"
* Update tutorials to point to tutorial jupyter notebooks.
* Fix all the broken links and images.

[2020-06-19 04:46] wookyung commented on #153
Hi @ntadimeti,

I'm glad to tell you great news. Your test version totally works for me!

1) At Step 7 with that I alway had an issue, there was no the same issue
any longer and I got the right outputs that we expect.

kimw@compute1-exec-219:/data/kimw/ATAC/ATAC_2019/tutorial2$ python
$atacworks/scripts/main.py infer \

INFO:2020-06-19 02:19:38,455:AtacWorks-main] Checkng input files for
compatibi

[2020-06-21 03:39] wookyung commented on #153
Hi @ntadimeti,

I have some quick questions. Since my sequencing samples are aligned to
hg38, I should prepare some files required for hg38 like an interval file.
So I made the hg38.interval file and .h5 file based on the following
commands.

kimw@compute1-exec-208:/data/kimw/ATAC/ATAC_2019/atacworks/tutorial2$
python $atacworks/scripts/get_intervals.py \

INFO:2020-06-21 02:13:01,998:AtacWorks-in

[2020-06-22 06:35] avantikalal commented on #153
Hi @wookyung ,

For denoising genome-wide data we've found 50,000 to be a good interval size.

You should be able to edit your config file. I'll let @ntadimeti comment on that issue.

[2020-06-22 22:03] ntadimeti commented on #153
@wookyung that's amazing that now you're able to run succesfully. For your next adventure of trying your own data, let's use a new issue. This one is getting very long. :) We usually prefer to keep the issues small and succint so future users can easily benefit.

[2020-06-22 22:03] #153 closed

[2020-06-22 22:05] ntadimeti opened #175 "Trying Atacworks on custom data"
Hi @ntadimeti,

I have some quick questions. Since my sequencing samples are aligned to
hg38, I should prepare some files required for hg38 like an interval file.
So I made the hg38.interval file and .h5 file based on the following
commands.

[code]
[code]
[code]
However, when main.py infer ran, I got the following errors.

1) For one of the errors, it looks like I have to modify 'infer_config.yam

[2020-06-22 22:12] ntadimeti commented on #175
@wookyung
For this error :
[code]
are you able to find the config file under `/data/kimw/ATAC/ATAC_2019/atacworks/tutorial2/configs/infer_config.yaml` ? If you can find this file, are you able to open it using vim? Like
`vi /data/kimw/ATAC/ATAC_2019/atacworks/tutorial2/configs/infer_config.yaml` ? If you are able to open it, can you edit it  ?

[2020-06-22 22:13] ntadimeti commented on #175
Let's solve one problem at a time, so we can make better progress.

[2020-06-22 22:14] ntadimeti commented on #153
@wookyung lets use Issue #175 for all the errors related to you using your own custom data.

[2020-06-23 15:16] wookyung commented on #175
Hi @ntadimeti,

I am happy to be able to try AtacWorks with my data finally. I appreciate
your help!
For editing config files, vim/vi command didn't work on the docker system.
Could you let me use vim commands or other editting commands on the system?
Thanks!

Best,
Wookyung

2020년 6월 22일 (월) 오후 5:13, ntadimeti <notifications@github.com>님이 작성:

[2020-06-24 16:18] ntadimeti commented on #175
@wookyung You can install vim inside your docker container using `apt install vim`. And then you will be able to open the file using the `vi` command. Please let me know if the installation worked for you.

[2020-06-25 04:52] wookyung commented on #175
Hi,

In my docker with 'claraomics/atacworks:test', I couldn't install vim due
to 'permission denied'. 'apt install' doesn't work in my docker. I know it
is weird and annoying. So normally I do add vim in the dockerfile so that
vim can be installed once the docker opens. Does it work for
'claraomics/atacworks:test'
or is there any idea? Thanks.

Wookyung

2020년 6월 24일 (수) 오전 11:19, ntadimeti <noti

[2020-06-29 17:09] ntadimeti commented on #175
@wookyung There's two potential solutions. One is to just modify the Dockerfile and create a new image. Other option is to try running the docker container with root permissions.

Is the second option possible in your case ? Here's how you can do that:
1. Launch the docker container with docker run command, add **--name test** to it.
2. In a new terminal, run the following command : `docker exec -

[2020-06-29 22:54] ntadimeti commented on #173
Being addressed in #176

[2020-06-29 23:45] ntadimeti commented on #168
Being addressed in this issue: https://github.com/clara-parabricks/AtacWorks/pull/177

[2020-07-09 20:59] ntadimeti commented on #42
Deprioritizing this issue for v0.3.0 release.

[2020-07-10 19:01] ntadimeti commented on #113
Being addressed in PR #181 . If the extension of the file is narrowPeak, then we skip one line of header automatically.

[2020-07-13 21:42] ntadimeti commented on #168
done.

[2020-07-13 21:42] #168 closed

[2020-07-13 21:43] ntadimeti commented on #122
PYPI installation script merged.

[2020-07-13 21:43] #122 closed

[2020-07-13 21:44] ntadimeti commented on #100
files under scripts being tested through end-to-end. Added unit tests for bedio.py and h5io.py modules. Required code coverage achieved for v0.3.0

[2020-07-13 21:44] #100 closed

[2020-07-13 21:46] ntadimeti commented on #42
This issue is better solved by encoding all the intervals, sizes data into h5 files. Closing this PR as this no longer is an individual issue. Opening up  a new PR for the encoded h5 files.

[2020-07-13 21:46] #42 closed

[2020-07-13 21:47] ntadimeti opened #183 "Encode intervals, sizes data into h5 files itself."
This will allow for us to encode only non-zero data for both training and inference. Also makes the data more compact and self-contained.

[2020-07-13 21:48] ntadimeti commented on #114
De-prioritizing this for v0.3.0

[2020-07-14 20:59] #173 closed

[2020-07-14 20:59] #169 closed

[2020-07-19 03:13] hugokitano opened #188 "tutorial2: Inference output data"
Is it possible that we can download the outputs of the Tutorial 2 output? I'd like to take a look at them before I start running a GPU. Thanks!

[code]

Hugo

[2020-07-21 16:15] ntadimeti commented on #156
done.

[2020-07-21 16:15] #156 closed

[2020-07-21 16:16] ntadimeti commented on #113
done.

[2020-07-21 16:16] #113 closed

[2020-07-21 16:17] avantikalal commented on #188
These files are available here:
https://atacworks-paper.s3.us-east-2.amazonaws.com/dsc_atac_blood_cell_denoising_experiments/50_cells/output/NK_inf.wg.peaks.bw
https://atacworks-paper.s3.us-east-2.amazonaws.com/dsc_atac_blood_cell_denoising_experiments/50_cells/output/NK_inf.wg.track.bw

However, the peaks.bw file here was created using the alternate inference command in Appendix 1 of the tutorial

[2020-07-21 16:18] #188 closed

[2020-07-21 16:27] ntadimeti commented on #159
De-prioritizing this for v0.3.0

[2020-07-24 03:10] hugokitano opened #195 "Trying to pip install on a cluster"
Hi, I'm trying to install atacworks on a cluster where I do not have root permissions. I have installed all the dependencies and tried to do `pip install .`, but I ran into this error

`ERROR: Could not install packages due to an EnvironmentError: [('/oak/stanford/groups/satpathy/users/hkitano/AtacWorks/.git/objects/pack/pack-047c57777251a6aed
da1d732d0df6a7a7889d91d.pack', '/tmp/pip-req-build-sdf

[2020-07-24 16:38] ntadimeti opened #197 "combine tile_interval functions in utils.py"

[2020-07-24 16:42] ntadimeti commented on #195
Hi @hugokitano ,

Could you share how you installed the dependencies? Could you also share if you are running in any virtual env or conda or docker or just local installation ?

[2020-07-24 18:53] hugokitano commented on #195
I am running in a conda environment, and used my environment's version of pip to install the requirements and macs2.

[2020-07-24 19:46] ntadimeti commented on #195
You are able to install the requirements fine with `pip` but are having an issue with only `pip install .` step ?

[2020-07-24 19:49] hugokitano commented on #195
yes.  The requirements step worked, but not the `pip install . ` step. I'm pretty sure it must be an issue with me not having root access privileges on the cluster, since I was able to install AtacWorks fine using the same method locally. However, pip installing with `--user` fails as well.

[2020-07-24 19:52] ntadimeti commented on #195
Hm, can you try this command : `python -m pip install .`. I haven't encountered this before, let me see how I can help you

[2020-07-24 19:54] hugokitano commented on #195
thanks for helping. I get the same kind of error `ERROR: Could not install packages due to an EnvironmentError: [('/oak/stanford/groups/satpathy/users/hkitano/AtacWorks/.git/objects/pack/pack-047c57777251a6aed
da1d732d0df6a7a7889d91d.pack', '/tmp/pip-req-build-nbe44k80/.git/objects/pack/pack-047c57777251a6aedda1d732d0df6a7a7889d91d.pack', "[Errno 13] Permission denie
d: '/tmp/pip-req-build-nbe44k8

[2020-07-24 19:58] ntadimeti commented on #195
Could you try upgrading the setuptools and re-run the pip install ? Try the following command : `pip install --upgrade setuptools && pip install .`

[2020-07-24 20:02] hugokitano commented on #195
It successfully upgraded from setuptools-46.1.3 to setuptools-49.2.0, but I got the same error for the `pip install .`

[2020-07-24 20:02] ntadimeti commented on #195
Another idea is to change your tmp directory. You can do that via `TMPDIR` env variable. Change it to a location where you do have permission to write.

[2020-07-24 20:13] hugokitano commented on #195
So I changed my `TMPDIR` variable to `~/tmp`, but the error persists. The error keeps mentioning the `/tmp` directory, which is what 'TMPDIR' was set to before I changed it. Yet the error message seems to reference directories that aren't in the `/tmp` directory
![image](https://user-images.githubusercontent.com/8139124/88431492-50fdc280-cdaf-11ea-87ba-8353e9a002fd.png)

[2020-07-24 20:17] ntadimeti commented on #195
Could you share the new TMPDIR path ?

[2020-07-24 20:20] hugokitano commented on #195
i just created the `~/tmp` directory, so it is empty. Should I try creating a new conda environment with this new `TMPDIR`?

[2020-07-24 20:23] ntadimeti commented on #195
Please run `export TMPDIR = /home/$USER/tmp` to export the TMPDIR variable. The running `pip install .` might pick up the newly created tmp directory. Have you done this already ?

[2020-07-24 20:31] hugokitano commented on #195
I got the following error, which is different than previous ones:

`Processing /oak/stanford/groups/satpathy/users/hkitano/AtacWorks
ERROR: Could not install packages due to an EnvironmentError: [('/oak/stanford/groups/satpathy/users/hkitano/AtacWorks/.git/objects/pack/pack-047c57777251a6aed
da1d732d0df6a7a7889d91d.pack', '/home/users/hkitano/tmp/pip-req-build-1mvbkli7/.git/objects/pack/pack-047c5

[2020-07-26 21:32] hugokitano commented on #195
Is there a way I can make Atacworks work without doing the `pip install . `? There should be, right? Since all of the scripts are self-contained in this repository.

[2020-07-27 18:04] ntadimeti opened #198 "new version of bigwig files for pre-trained models to contain ALL chroms"
Currently the generated bigwig files only have chr1-22,X,Y. Re-generate the bw files to contain all the chroms in hg19.chrom.sizes.

[2020-07-27 21:31] ntadimeti opened #199 "pyYaml outputs None as "null". atacworks does not recognize null."
This is preventing us from reading the config files that were output by atacworks.

[2020-07-28 15:38] ntadimeti commented on #195
Hugo,

Could you give the below commands a try ?

[code]

I will in the meantime explore ways you can run without having to install the libraries.
Can you run a docker container in your cluster ? If so, I can share atacworks docker container with you.

[2020-07-28 19:05] hugokitano commented on #195
Unfortunately, still running into the same type of error.

`Processing /oak/stanford/groups/satpathy/users/hkitano/AtacWorks
ERROR: Could not install packages due to an EnvironmentError: [('/oak/stanford/groups/satpathy/users/hkitano/AtacWorks/.git/objects/pack/pack-047c57777251a6aed
da1d732d0df6a7a7889d91d.pack', '/home/users/hkitano/tmp/pip-req-build-vuyvppdk/.git/objects/pack/pack-047c57777251a

[2020-07-28 19:09] ntadimeti commented on #195
Could you do a `chmod -R 777 /home/users/hkitano/tmp/` ?

[2020-07-28 19:13] hugokitano commented on #195
yeah, same error

[2020-07-28 19:53] ntadimeti commented on #195
Hugo,

It's a weird issue and I'm out of ideas for how to solve it. There are two options we could try as workarounds for this.

1) Move the files inside the scripts/ folder into the atacworks root dir
`cd AtacWorks && mv scripts/* .`

If you do this, you will have to run each script directly by running `python main.py` etc. Which branch have you cloned? Master or dev-v0.3.0 ?

2) Second option is

[2020-07-28 20:04] hugokitano commented on #195
I'm in master, version 0.2.3. I think option 1 is fine. Running from main.py should be almost exactly the same, right? I'll just have to do `scripts/main.py train --args` instead of `atacworks train --args`, right?

[2020-07-28 20:14] ntadimeti commented on #195
Right, you would have to move the files outside of scripts, so the module paths are accessible. So, you would do `python main.py train` instead of `python scripts/main.py train`. Hopefully that works. Let me know how it goes.

[2020-07-28 20:42] hugokitano commented on #195
ah i see, i'll give it a try

[2020-07-30 03:30] hugokitano commented on #195
Ok, I think it works. I did have to do a `sys.path.append("")` before I imported from claragenomics.io in the peak2bw.py file, which I expect I might have to do for other files going forward. But it does work!

[2020-07-30 04:00] hugokitano commented on #195
I have an unrelated question: what does the bigwig layers option accomplish? Could you therefore input a noisy peak bigwig as further training data along with the noisy track bigwig?

[2020-07-30 05:24] avantikalal commented on #195
Hi Hugo,

Yes, the layers option can be used to provide additional training data along with the noisy coverage track. In our preprint, we used this to include the positions of CTCF motifs for an experiment where we adapted the model to predict CTCF binding instead of chromatin accessibility.

For the standard use case of denoising and peak calling from ATAC data, we have tried using this option to

[2020-08-01 19:39] hugokitano commented on #195
And, sorry, one last question: If I was to call `main.py eval` on the model I trained in tutorials 1 (I'm on the master branch, 0.2.3), what would my command be? I know that the trained model is not good, I just want to know how it works. Thank you!

Hugo

[2020-08-03 21:55] ntadimeti commented on #195
Hugo,

First you have to generate a holdout h5 file. You can use the bw2h5.py script to achieve that.
[code]
Now,  you can do main.py eval -h to get the help options to run atacworks eval. In general, you would have to provide the following :
1) the model weights using the `--weights_path`. In tutorial1 case, it will be `model.best.pth.tar`
2) The h5 file generated from the command above using `--

[2020-08-07 01:34] hugokitano commented on #195
One last thing: I'm trying run regression, not both classification and regression, on some bigwigs. When I use `bw2h5.py`, (I'm on version 0.2.3) I therefore do not use the "--cleanpeakbw" argument. I was thinking of using the "--nolabel" argument as well, but realized it is not designed for this situation.

Anyways, on line 205ish, the comment "Read clean data: classification labels"

[2020-08-07 01:55] hugokitano commented on #195
One last question: what range should the scores of the bigwig be around? If I'm trying to train with set of bigwigs that have different ranges of scores, should I somehow standardize them first? For example, I'm working with bigwigs that have ranges from 0 to about 0.03 (which I know won't train very well), 0 to about 5 (which should work well), and 0 to about 800 (i'm not sure whether this would

[2020-08-07 03:27] feefee20 commented on #175
Hi @ntadimeti,

I'm sorry for the late reply. I was busy with other things for a while. I
realized there was big progress in the tool development. This is very COOL!
It became much easier for a user like me to use. Thanks!
I already tried your new version with both your tutorial file and my own
data and hope I can give you good feedbacks also with a question.

As you know, I am using a docker vers

[2020-08-07 04:05] avantikalal commented on #195
Hi @hugokitano, happy to help but I'm not sure I understand the experiment you're trying to perform. For our experiments, we have not tried to normalize the ranges of the bigwig files in any way.
If you explain the experiment you're trying to do (why do your bigWig files have different ranges? What is the goal of the model you want to train? What do you plan to apply it to?) I can offer more sugge

[2020-08-07 04:50] hugokitano commented on #195
Sorry for not being clear, and appreciate the help. I'm trying to train a model that predicts, from a basal chromatin state, a future state when the cell encounters a cytokine in its environment. For example, if I input a control atac-seq bigwig, I'd like to map that to a bigwig that predicts what that control would look like in contact with IL-4, interferon gamma, etc.

I thought AtacWorks would

[2020-08-07 06:01] avantikalal commented on #195
We haven't considered this kind of use case. But in general, all the bigwig files you use for training and testing should be processed the same way and should have similar ranges. I would suggest either using data from a single experiment, or else try to get the BAM files for the datasets you want to use and process them all into bigWig files using the same procedure.

Note that in our default inf

[2020-08-07 06:04] hugokitano commented on #195
great, thank you for the response! It's helpful!

[2020-08-07 14:58] ntadimeti commented on #175
Hello! Thanks for testing out our new version @wookyung. You can read all about atacworks Dockerfiles here: https://clara-parabricks.github.io/AtacWorks/Dockerfile.html

In short, we have two dockerfiles now.
1) claraomics/atacworks:latest -- This contains pre-installed atacworks (pip install atacworks). This image does not contain source code. Most useful for running atacworks train and denoise c

[2020-08-10 18:01] avantikalal commented on #195
The idea behind rounding was to reduce the file size. If we write full float values the output bedGraph files become very large and the extra precision is not really useful.

Thanks for pointing out the issue with the classification value! We had set it to 3 because in our original experiments we were writing the probability of each base belonging to a peak, and the probability values range from 0

[2020-08-10 18:09] avantikalal commented on #175
@feefee20 In my experiments I typically see `track.bw` outputs of 300-400 MB. So this does seem quite large. Could you share the chromosome sizes file that you used for inference, and also the top few lines of the `track.bedGraph` output file?

[2020-08-17 23:04] hugokitano commented on #195
Hi, running into a weird problem when I am running evaluation on a trained model:

`(atacworks) [hkitano@sh02-13n14 /oak/stanford/groups/satpathy/users/hkitano/AtacWorks]$ python main.py eval \

Building model: resnet ...
Loading model weights from experiment_output/sc_atac_reg_latest/model_best.pth.tar...
Finished loading.
Finished building.
Eval for 41 batches
Inference -------------------- [ 0/

[2020-08-17 23:27] hugokitano commented on #195
Oh I think I figured out why this is happening: Looking at my evaluation metrics printed out, it seems as if my predictions for the holdout data are all 0. Thus, all scores are 0, and thus the bedgraph is not written in `save_to_bedgraph` in main.py. Does this seem correct?

[2020-08-19 14:42] ntadimeti commented on #195
That seems correct. By default, the scores are thresholded at 0.5 and all scores less than 0.5 are set to 0 and are not written. You can set `infer_threshold: 0` and `threshold: 0` in your configs. Then you will be able to get the score outputs as probabilities, it will give you an idea of model's predictions.

[2020-08-19 14:43] ntadimeti commented on #195
Also, can I ask if you ran eval on your own data or is this the tutorial data ?

[2020-08-19 17:51] hugokitano commented on #195
It is my own data, so I'm not expecting it to work necessarily. I can set these thresholds in train_config.yaml, right?

[2020-08-19 19:36] ntadimeti commented on #195
It should be set in infer_config.yaml. That's the config file for both inference and evaluation.

[2020-08-19 21:38] hugokitano commented on #195
Got it. How did you end up at the weighting of the loss function that you end up using for the model? Why is mse_weight so small compared to pearson loss?

[2020-08-19 21:49] avantikalal commented on #195
We used untransformed count data for our experiments. On such data, while Pearson correlation is limited to the range 0-1, MSE can be much higher. So it was necessary to down-weight the MSE loss so that both loss functions become somewhat comparable. If you are transforming or normalizing your count data in some way you may want to modify these weights.

[2020-08-20 20:28] hugokitano commented on #195
Just wanted to reiterate how thankful I am for your help. I've been weirded out by a few of my results so I decided to train on the tutorial1 data just to make sure everything is working as I think it should be. I'm on version 0.2.3. I made the h5 files using bw2h5.py as described, and I was able to look into them and make sure they looked good. For example, Mono.50.2400.train.h5 should have three

[2020-08-20 22:02] ntadimeti commented on #195
Thanks for looking into it. I am able to reproduce what you are seeing. I have to investigate further to see why it is happening. We haven't intentionally fixed anything in the new release, but I will test and see if it still happens. I will create a new issue for this, so it's easy to track and fix.

[2020-08-20 22:06] ntadimeti opened #207 "In training, same sample is being stored per batch."
This bug was reported in #195 using v0.2.3 version. I am able to reproduce it on the same tag. Yet to reproduce on 0.3.0. To repro,

[code]
after line 61, add:
[code]
Comment out rest of the code. This will show that for a batch size of 64, every sample in the batch is identical.
Output:
[code]

[2020-08-20 22:18] hugokitano commented on #195
great, thank you!

[2020-08-21 20:46] ntadimeti opened #209 "Add unit tests for data loader"

[2020-08-24 14:51] ntadimeti commented on #195
@hugokitano Please see Pull request #208 for the fix. I am writing unit test to prevent such errors in the future and then we will merge this PR. In the mean time, you can make this change in the files you are working with and continue with your experiments.

I will ping you once the latest changes are merged. Thanks!

[2020-08-24 18:07] hugokitano commented on #195
Thank you! So the only pertinent fix is the single line change in dataset.py, correct?

[2020-08-24 18:36] ntadimeti commented on #195
that's right.

[2020-08-25 15:46] #207 closed

[2020-08-25 15:47] ntadimeti commented on #209
added

[2020-08-25 15:47] #209 closed

[2020-08-25 16:27] ntadimeti opened #211 "scanpy installation conflicts with atacworks"
Installing scanpy before atacworks, leads to installation errors in atacworks.
Installing scanpy after atacworks doesn't seem to have an issue. Conda installation of scanpy is leading to errors regardless.

[2020-08-25 16:56] ntadimeti opened #212 "atacworks inference getting stuck at writing stage"

[2020-09-04 02:30] hugokitano commented on #195
Hi,

What were your metrics on your final trained model? I was able to train a model with very high AUROC and specificity, though recall could be improved. Thank you!

[2020-09-04 03:59] hugokitano commented on #195
Also, I ran into a problem running inference with a trained model: Here's my command:

[code]
Note that the holdout data is a folder with two input h5 files in it.
[code]

Here's my config file

[code]

as outputs, I have bedgraphs of the peaks and tracks of both input files, but no bigwigs. Also, both peak files are empty. This shouldn't be the case, since I ran eval with all the same settings; i

[2020-09-08 21:25] ntadimeti commented on #195
@avantikalal Do you recall the metrics for our models ?

[2020-09-18 21:33] ntadimeti opened #216 "files not read in sorted order"
When giving directory to read files from, for example "--cleanbw $cleanbw_dir --noisybw $noisybw_dir --cleanpeakfile $peakfile_dir", the cleanbw[i], noisybw[i] and cleanpeakfile[i] aren't necessarily paired even though the filenames are. This causes mis-matches in corresponding clean, noisy and peak files.

this happens because os.listdir() used in "gather_files_from_cmdline" function is file syst

[2020-09-20 04:21] avantikalal opened #217 "h5 file naming"
h5 files are currently named according to the 'cleanbw' file used to create them. This file need not be unique, in experiments where the same clean file is subsampled many times so that there are multiple 'noisybw' files all matched to the same 'cleanbw' file. Would be better to name the h5 files according to the 'noisybw' file names which will be unique.

[2020-09-21 21:45] hugokitano commented on #195
Hi, still interested in this information!

[2020-09-21 21:53] avantikalal commented on #195
@hugokitano are you asking about metrics on the validation set? If so, you can see those here: https://github.com/clara-parabricks/AtacWorks/blob/dev-v0.4.0/tutorials/tutorial1.ipynb
The best metrics were:
[code]
Also, please note that the recall and specificity values depend on the probability threshold you choose for peak calling. By default we set this to 0.5, so that the bases with output > 0.

[2020-09-22 18:00] hugokitano commented on #195
Interesting. Thank you. For my project, I also saw a very high specificity and lower recall. I may consider changing the probability threshold. Thank you!

[2020-10-15 19:53] asundaresan1 opened #221 "AtacWorks errors on custom data"
Hello, I am trying to analyze my bulk ATAC samples but get the attached errors. These are ATAC from human donor tissues, so I am trying to train the model which is where I get the error. I am using Atacworks version 0.3.0. I tested with the test data (available as part of tutorial) and it worked fine without any errors.

The ATAC-seq reads are aligned to the human reference genome (hg19) using BWA

[2020-10-21 15:05] asundaresan1 commented on #221
atacworks train \
  --noisybw /path_to_noisybw \
  --cleanbw /path_to_cleanbw \
  --cleanpeakfile /path_to_cleanpeakfile \
  --genome /path_to_hg19.auto.sizes \
  --val_chrom chr2 \
  --holdout_chrom chr10 \
  --out_home "path_to_output_train" \
  --exp_name "atacworks_train" \
  --distributed

[2020-10-21 15:20] ntadimeti commented on #221
It seems like this error is occuring because `y_true` containing only one class going by this message in the log `Only one class present in y_true`. It might be possible that your data is unbalanced and all the peaks are being assigned to a single class. Can you verify this on your end ?

[2020-10-21 15:29] asundaresan1 commented on #221
How should i verify this? I also tested this on a mouse cell line ATAC and get same error.

[2020-10-21 15:42] ntadimeti commented on #221
The atacworks output directory should contain a `<prefix>_train.h5` and a `<prefix>_val.h5` files. You can try loading them and look at the number of 0s and 1s in the last channel of the numpy arrays in the h5 file.

If the files are small enough, please upload them so I can try it as well.

Could you also share how you generated the peak file you passed in with `--cleanpeakfile` flag ?

[2020-10-21 16:20] asundaresan1 commented on #221
The files are big to be uploaded here.
macs2 callpeak with options -f BAMPE and --keep-dup all.

[2020-10-21 17:34] #211 closed

[2020-10-21 17:38] #195 closed

[2020-10-22 15:43] #212 closed

[2020-10-22 15:46] ntadimeti commented on #175
Closing this issue, since it is inactive. @feefee20 please feel free to open this issue or open a new issue if you need help anytime.

[2020-10-22 15:46] #175 closed

[2020-11-02 18:49] avantikalal commented on #221
Hi @asundaresan1, wondering if you were able to resolve this issue?
If not, you can go to the `bw2h5` folder produced by AtacWorks and look at the `train.h5` and `val.h5` files in the following way:

[code]
Please let us know the output of this command for your `train.h5` and `val.h5` files.

[2020-11-03 14:35] asundaresan1 commented on #221
Hi @avantikalal and @ntadimeti, I was able to train the model only after I preprocessed my samples using https://github.com/zchiang/atacworks_analysis/tree/master/preprocessing.

However, after denoising I don’t see much improvement in the quality of my data. I have attached the profiles of all the samples before and after denoising. I can see that the scale has improved, and the profiles are smoo

[2020-11-03 17:01] avantikalal commented on #221
Hi @asundaresan1, the model you've used is trained to make low-coverage data look like higher coverage data, so it will enhance the profile at a local scale, but it does not improve aggregate TSS score across the whole genome.
We do have one model which is trained to improve TSS score: https://ngc.nvidia.com/catalog/models/nvidia:atac_bulk_lowqual_20m_20m . You could try this and see if it meets y

[2020-11-03 17:56] asundaresan1 commented on #221
Thank you for your suggestion. Let me try with that model.
Is there a way to get denoised bam along with bigwigs and peaks?
The sequencing depth for all the samples is between 42M - 143M
We have performed human donor tissue ATAC on two different conditions and want to compare them. The profiles I sent are from one condition. The profiles of other condition look even worse. There is a lot of noise

[2020-11-03 21:11] avantikalal commented on #221
Thanks for sharing the details @asundaresan1. Based on this, I think the model I suggested above is the best suited for your data. If that too doesn't work, we can discuss whether it may be possible for you to train your own model.
Unfortunately AtacWorks cannot produce a BAM file - only bigwig/bedGraph and peak calls.

[2020-11-17 17:43] avantikalal commented on #221
Hi @asundaresan1 , just checking in on this issue. Were you able to get better results using the second model?

[2020-11-18 18:56] asundaresan1 commented on #221
Hi @avantikalal , yes I got better results with the model you suggested.

[2020-11-18 18:56] #221 closed

[2020-11-18 19:16] avantikalal commented on #221
@asundaresan1 good to hear! Separately, I'd like to reach out regarding feedback I'm collecting from AtacWorks users. Could you please share your email or another way to contact you? Alternatively, please email me at alal@nvidia.com.

[2020-12-08 17:13] ntadimeti opened #223 "Update atacworks dependencies to latest stable versions"
Some of the package dependencies are pinned to pretty old versions. It would be good to update to the latest stable versions.

- Re-train the pretrained models and make sure the accuracies and other metrics are reproducible

[2020-12-16 18:03] avantikalal opened #225 "Update atacworks dependencies to scikit-learn 0.23.2"
The current requirement of scikit-learn==0.21.3 causes a conflict with one of our single-cell notebooks.

[2021-01-04 20:15] ntadimeti commented on #225
Done

[2021-01-04 20:15] #225 closed

[2021-01-07 20:03] ntadimeti commented on #197
done

[2021-01-07 20:03] #197 closed

[2021-01-11 16:23] #216 closed

[2021-01-11 17:33] #217 closed

[2021-03-17 14:45] plantformatics opened #232 "Error when passing directories for training"
Hello,

First off, I want to say thank you for producing this tool. A little bit on the experimental design: I have ATAC-seq data from hundreds of donors, some with very high coverage, some with minimal sequencing depth. I want to train a model on the thoroughly sequenced donors (~25) to de-noise the remaining samples. The heavily sequenced donors are quite diverse and reflect the genetic diversit

[2021-03-17 15:02] plantformatics commented on #232
Update: Turns out there was a mismatch in variable names (peak vs. peaks) and the peaks folder wasn't being passed to atackworks. Training is running without issue. Sorry for the confusion!

[2021-03-17 15:03] #232 closed

[2021-03-21 15:02] elffairy90 opened #233 "error in pip install -r requirments.txt"
Hi, I got the following error when doing this step, wondering if I could get help here. THank you!
cd AtacWorks && pip install -r requirements.txt
![Screen Shot 2021-03-21 at 10 58 56 pm](https://user-images.githubusercontent.com/49053347/111909723-65f33880-8a99-11eb-8dc1-3baaed2a27cb.png)

[2021-03-23 06:11] ohadmo commented on #233
Hey @elffairy90, seems like you are using Python 3.8 which is only supported in PyTorch 1.4 and up. Can you use Python 3.7 in the meantime until we update the `requirements.txt` file?

[2021-03-26 01:20] YichaoOU opened #235 "What does the 6 kb mean?"
Hello,

In the paper, you mentioned, "The network makes predictions for each base in the genome based on coverage values from a surrounding region spanning several kilobases `6kb for the models`".

What does this 6kb really represent?

The paper mentioned "50kb non-overlapping intervals" as the input, so then the output of the model prediction is 6kb? It should also be 50kb, right?

Thanks,
Yichao

[2021-03-26 15:50] avantikalal commented on #235
Hi Yichao,
The model that we were describing in our paper takes 50 kb intervals as input and returns 50 kb intervals as output.

However, the receptive field of the model was approximately 6 kb. So within that 50 kb interval, the prediction for each base depends on the bases in the ~6kb region surrounding it. This is a function of the size of the model (the number of layers, kernel width, and amou

[2021-03-26 16:17] YichaoOU commented on #235
Thank you so much for the quick response!

Would you mind explain a bit more about the 6kb receptive field? Number of layers should not affect. Do you mean number of channels? Using the Kernel size of 51, and dilation of 8, I think the receptive field is 401bp?

Thanks,
Yichao

[2021-03-30 16:38] avantikalal commented on #235
Hi Yichao,

yes, that calculation is correct for a single layer! However, the total receptive field of the entire model is higher since there are multiple convolutional layers stacked on top of each other, and each layer adds to the receptive field.

[2021-04-02 22:01] umasstr commented on #221
Hi @avantikalal, in cases where noisy samples have coverage >= that of the clean samples, should users _always_  forego training and use your pretrained model, nvidia:atac_bulk_lowqual_20m_20m?

For example:
![image](https://user-images.githubusercontent.com/44478133/113457216-3b7c7600-93dd-11eb-9a35-212a9171ec4d.png)

If the pretrained model is not successful in reducing noise, are there training

[2021-04-05 16:00] avantikalal opened #236 "Pretrained model for bulk low-quality data"
Hi @avantikalal, in cases where noisy samples have coverage >= that of the clean samples, should users _always_  forego training and use your pretrained model, nvidia:atac_bulk_lowqual_20m_20m?

For example:
![image](https://user-images.githubusercontent.com/44478133/113457216-3b7c7600-93dd-11eb-9a35-212a9171ec4d.png)

If the pretrained model is not successful in reducing noise, are there training

[2021-04-05 16:01] avantikalal commented on #221
Hi @umasstr, I've opened a new issue for this discussion: https://github.com/clara-parabricks/AtacWorks/issues/236

[2021-04-05 16:05] avantikalal commented on #236
Hi @umassstr, for the best results we recommend training your own model, if you have matched low/high quality data available. The noisy data and clean data could have any coverage, what is important is that the noisy data used for training should have similar coverage to the noisy data to which you intend to apply the model.

[2021-04-05 16:52] umasstr commented on #236
Thanks for following up. In agreement with your above post, I found the pretrained model to be incompatible with my dataset and some sample ENCODE datasets. The custom trained model worked well, but there's a constant, low-level background in the output (green below).

Purple: original (macs)
Green: custom model
Orange: atac_bulk_lowqual_20m_20m

![image](https://user-images.githubusercontent.com/

[2021-04-05 16:58] avantikalal commented on #236
Great to see the custom model working well overall, though I agree the low-level background is a problem. The model shouldn't require a nonzero output at every coordinate. Could you share the config file generated by your model training run?

[2021-04-05 17:22] umasstr commented on #236
Indeed, the output is pretty impressive, especially if I set the track bounds to hide the 1.0 background:

![image](https://user-images.githubusercontent.com/44478133/113602908-41f33380-9611-11eb-9c38-90901e7765f5.png)

Here is a link to the training [config](https://www.dropbox.com/sh/bm49m534jqiusrf/AADzNLbQHf-PbuDauYyhWjZaa)

[2021-04-06 04:54] avantikalal commented on #236
One thing that might help is to train your model using the Poisson loss function for regression instead of the MSE/Pearson loss functions. This has given us better regression results and will become the default regression loss in the future.

To train a model using Poisson loss, you can set `--mse_loss` equal to 0, `--pearson_loss` equal to 0, and `--poisson_loss` equal to 1.

If you do try this,

[2021-04-22 07:47] rochevin opened #237 "Atacworks stuck at "waiting for writter to finish...""
Hello,

Great paper and great tool and thank you to sharing your docker environment to facilitate the use of your tool,

Maybe i'm doing something wrong, but when i'm trying to use `atacworks denoise`, i'm stuck forever when this sentence shows up :
[code]
I'm using it within docker :
`docker run --gpus all --shm-size 2G -it -v ~/DeepG4ToolsComparison/:/DeepG4ToolsComparison claraomics/atacworks /

[2021-04-29 11:32] NachoDave commented on #237
Hi, I also have the same issue using the docker container.

[2021-05-05 16:08] ntadimeti commented on #237
Hi @rochevin thanks for your interest in the tool. Can you please run the default tutorial for atacworks denoise : https://clara-parabricks.github.io/AtacWorks/tutorials/tutorial2.html this will help us understand if the problem is with the setup or with your data.

Thanks.

[2021-05-07 07:35] rochevin commented on #237
hi @ntadimeti thanks a lot for your response !
So I did the tutorial on the same docker container and it worked (with all files created)

[code]
And so i tried to use the exact same command but with my file instead :
[code]
__Still stuck__ (I had to kill the process) but bedgraph was generated this time and not the BigWig files. So I tried to generate the bigwig myself with
`bedGraphToBigWig ATAC_

[2021-05-12 03:17] umasstr commented on #236
Hi @avantikalal, I tried the parameters above, but the results did not look good.

![image](https://user-images.githubusercontent.com/44478133/117913078-b1161480-b2ae-11eb-9ecd-f5917886201b.png)

I am a little concerned about the fact that, for each noisy BW, I have to retrain a model. None of the prebuilt models work with my data and none of my samples' models work on the others.

[2021-06-20 14:05] elffairy90 opened #239 "mouse reference"
Hi,

Just a quick question, where can I find the reference genome for mice (mm10) that's equivalent to hg19.auto.sizes file?
Best regards,
Jenny

[2021-06-22 20:21] avantikalal commented on #239
Hi @elffairy90 , you can find the full chromosome sizes file for mm10 here: https://github.com/igvteam/igv/blob/master/genomes/sizes/mm10.chrom.sizes

Simply take the rows corresponding to autosomes (chr1-19).

[2021-06-22 20:21] #239 closed

[2021-07-06 07:18] elffairy90 opened #243 "mouse reference genome"
Hi,
I thought I asked this before, but I don't seem to find it in the thread anymore, and I wasn't sure if it has been answered. So I thought I just post it again.

Was there a mouse genome for mice samples? I dont remember seeing it in the folder.
So in other words, what should I in the case of the mice samples?

Best regards,
Jenny

[2021-07-06 07:19] avantikalal commented on #243
https://github.com/clara-parabricks/AtacWorks/issues/239

[2021-07-06 07:37] elffairy90 commented on #239
Hi Avantikalal,

Thank you very much!!! This is super helpful!

[2021-07-06 16:23] #243 closed

[2021-07-18 03:11] elffairy90 opened #244 "error message needing help"
Hi,

Could I run my code like this? Do you see any problems? I mean for the weights_path, could it be my own big.wig of a clean sample? But, when I ran this, i ran into this following problem. I'm new to dry lab, I would really appreciate your help! Thank you!

atacworks denoise \
    --noisybw /data/jwang/files_atacworks/test/control_R1.mLb.clN.bigWig \
    --genome /data/jwang/AtacWorks/data/ref

[2021-07-23 23:08] avantikalal commented on #244
HI @elffairy90. --weights_path should be not a bigwig file but the path to a trained AtacWorks model. You can either train a model yourself using clean and noisy bigwig files (see tutorial 1) or else download one of our trained models. We recommend training a model if you have data available.

[2021-12-16 16:16] hhvu0102 opened #246 "ConnectionResetError: [Errno 104] Connection reset by peer"
Hello,
I'm trying to run the example in [tutorial 2](https://github.com/clara-parabricks/AtacWorks/blob/dev-v0.4.0/tutorials/tutorial2.ipynb). I downloaded the files and ran the exact command listed in the tutorial to denoise, but I always got `ConnectionResetError: [Errno 104] Connection reset by peer` error. This is the full error:
[code]
I'm on a NVIDIA GeForce GTX 1080 machine with 4 gpus. I w

[2022-05-22 21:21] albertdyu opened #247 "Tutorial 1 is recursive?"
Clicking on "documentation" in this page:

https://clara-parabricks.github.io/AtacWorks/tutorials/tutorial1.html

Just takes you back to the same page. I can't seem to find any instructions on how to train a model. Apologies if it turns out I'm just being dumb...

[2022-05-22 21:57] albertdyu opened #248 "Error running atacworks train"
Hi there,

I'm running atacworks on some Drosophila ATAC-seq data we had generated, and it's throwing an error at me!

atacworks train \
    --noisybw ClkZT14_2.sort.bam.cutsites.smoothed_100.coverage.bw \
    --cleanbw ClkZT14_1.sort.bam.cutsites.smoothed_100.coverage.bw \
    --cleanpeakfile ClkZT14_1.sort.bam.peaks.bed \
    --genome dm6.chrom.sizes \
    --val_chrom chr2R \
    --holdout_chrom

[2022-05-22 22:21] avantikalal commented on #247
Hi @albertdyu , sorry for the broken link. Tutorial 1 is here: https://github.com/clara-parabricks/AtacWorks/blob/dev-v0.4.0/tutorials/tutorial1.ipynb

[2022-05-22 22:34] avantikalal commented on #248
@albertdyu, it looks like there's a problem reading the values for the 1680th training interval. If you look at the output files that are generated by this command you should be able to find an intervals/ folder which will contain a file with `train` in the name that should gave 1691 rows. You can look at the 1680th row in this file. It could be an issue with this chromosome name not being include

[2022-05-23 08:50] albertdyu commented on #248
That did the trick! I accidentally used a sizes file with slightly different chromosome sizes relative to the assembly I mapped to - good catch! Thank you!

I was able to successfully train a model, but now I'm having some trouble with denoising, haha...

atacworks denoise \
    --noisybw ClkZT14_2.sort.bam.cutsites.smoothed_100.coverage.bw \
    --genome gfachrome.sizes \
    --weights_path ./856